<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.thatsit.android"
          android:versionCode="3"
          android:versionName="17.1">

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.thatsit.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.thatsit.android.permission.C2D_MESSAGE" />

    <application
        android:name="com.thatsit.android.application.ThatItApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.thatsit.android.activities.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.thatsit.android.activities.WelcomeActivity"
            android:configChanges="keyboardHidden" />
        <activity android:name="com.thatsit.android.activities.TermsAndConditionsActivity" />
        <activity
            android:name="com.thatsit.android.activities.ContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize"></activity>
        <activity
            android:name="com.thatsit.android.invites.Subscription"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.thatsit.android.activities.PaymentConfirmationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity
            android:name="com.thatsit.android.activities.ChangeLoginPassword"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.thatsit.android.activities.BlurredActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.thatsit.android.activities.SuggestContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name="com.thatsit.android.activities.RegisterActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.thatsit.android.activities.GridViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.Dialog"></activity>
        <activity
            android:name="com.thatsit.android.activities.SelectAudioActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.myquick.filebrowser.AndroidExplorer"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.thatsit.android.activities.InviteContactsToRoster"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name="com.thatsit.android.activities.MUCActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.thatsit.android.activities.GroupInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.myquick.socket.ConfirmationPopUp"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize"></activity>

        <service android:name="com.thatsit.android.MainService" />

        <receiver android:name="com.myquickapp.receivers.ConnectionBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.thatsit.android.invites.StartServiceReceiver"></receiver>

        <service android:name="com.thatsit.android.beans.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.thatsit.android" />
            </intent-filter>
        </receiver>
    </application>

</manifest>